.hero {
  color: #fafafa;
  padding-top: 100px;
  background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), rgba(255, 153, 0, 1));
  width: 100%;
  text-align: center;
  font-family: fantasy;
  cursor: pointer;
  cursor: hand;
}
.hero .hero-text {
  padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .hero {
    padding-top: 100px;
  }
  .right-container{
    margin-top: 10px;
  }
}

.hero .hero-img-col {
  padding: 0;
  margin-bottom: -6px;
}

.welcome-nav{
  position: absolute;
  width: 100%;
  top: 15px;
}

.logo{
  position: relative;
  text-align: center;
  font-size: 26px;
  color: white;
}

.smile{
  width: 100px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 40px;
}

#columns {
	column-width: 200px;
	column-gap: 15px;
  width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

.amazon-item {
	display: inline-block;
	background: #FEFEFE;

	margin: 0 2px 20px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding-bottom: 5px;
  border-radius: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.amazon-item img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
	width: 100%;
  height: auto;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
  cursor: hand;
  cursor: pointer;
}

.amazon-item p {
  padding: 5px;
  margin-top: -10px;
}

.itemInfo{
  padding: 5px 8px;
}
.darker{
  color: #4a4a4a;
}
.lighter{
  color: #6f6f6f;
}

.itemInfo .title{
  font-weight: bold;
  font-size: 1em;
}

.itemInfo .price {
  color: #969696;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

.loading{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 10px;
  text-align: center;
}

.loading img{
  width: 100px;
}

.product-page{
  width: 90%;
  margin-top: 20px;
	max-width: 1100px;
}
.gallery{
  background-color: #d8d8d8;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 50px;
  padding-right: 50px;
}
.gallery img{
  max-width: 100%;
  margin-bottom: -6px;
}

.thumbnails{
  padding-left: 20px;
  padding-right: 20px;
}

.thumbnail-list{
  list-style: none;
}

.thumbnail-list li{
  margin-right: 10px;
  display: inline-block;
}
.thumbnail-list img{
  max-width: 100%;
}

.white-object{
  background-color: #fff;
}

.product .left-container{
  padding: 0px;
  border-radius: 8px;
}
.product .right-container{
  border-radius: 8px;
  padding: 0px;
}

.right-container .price-title{
  border-bottom: 2px solid #d8d8d8;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}

.right-container .price{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

.product .info {
  padding: 20px;
}
.product .title{
  font-size: 1.6rem;
  font-weight: 500;
}
.product .author {
  font-weight: 500;
  font-size: 1rem;
}
.product .amazon-info{
  padding: 20px;
  border-top: 2px solid #d8d8d8;
}

.amazon-info .description{
  margin-bottom: 10px;
}
.full{
  width: 100%;
  margin-bottom: 10px;
}
